body {
  background-color:black;
  color:#ffffff;
  font-family: 'Press Start 2P', monospace;
}

#main, #header, #footer {
  width:850px;
  margin-left:auto;
  margin-right:auto;
}

#header {
  text-align:right;
}

#main {
  height:730px;
}

.listleft, .listright {
  float:left;
  margin:5px 0px;
}

.listleft {
  width:90%;
  color:#00ffff;
}

.listright {
  width:10%;
  text-align:right;
}

h1 {
  text-align:center;
  background-color:#0000ff;
  color:#ffff00;
  margin:0px;
  padding:20px 0px;
}

h3 {
  color:#ffff00;
}

hr {
  height:6px;
  width:100%;
  color:#0000ff;
  background-color:#0000ff;
  border:1px solid #0000ff;
  margin:20px 0px;
}

#red, #green, #yellow, #blue {
  width:25%;
  display:inline;
  border:0px;
  float:left;
  text-align:center;
}

#red {
  color:#ff0000;
}

#green {
  color:#00ff00;
}

#yellow {
  color:#ffff00;
}

#blue {
  color:#00ffff;
}